*__pycache__*
__pycache__/
*cpython*
#evniroment
*.env
.venv
envs
__pycache__
#Used for making AWS Lambda functions
python
*.zip
#models
.h5
#dummy notebook
laboratory
#models
models/*
#logs
*.log
#used for tracking the progress of the model
checkpoint*
trial*
tuner*
Data
btc_forecast/predictions
predictions/
__pycache__/
*.py[cod]
